<mat-toolbar class="navColor">


    <button mat-raised-button (click)="Deslogearse()" class="nav-link ">DESLOGUEARSE</button>


    <button mat-raised-button routerLink="../home" class="nav-link" style="margin: 10px;">HOME</button>

</mat-toolbar>




<div class="bgimg">

    <br>

    <div class="row msg-container frame" #scrollframe>
        <div class="msjs">
            <div *ngFor="let item of item$ | async">
                <div class="col m12 col s12">

                    <div *ngIf="item.usuario == token" class="box-blue  ">

                        <p> {{ item.mensaje }} </p>

                        <strong> {{ item.usuario }} </strong>&nbsp;
                        <span class="date "> {{ item.hora }}</span>

                    </div>

                    <div *ngIf="item.usuario != token" class="box-gray">

                        <p> {{ item.mensaje }} </p>
                        <strong> {{ item.usuario }} </strong>&nbsp;
                        <span class="date"> {{ item.hora }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<mat-card class="chat-write-box ">
    <mat-form-field class="example-full-width \">
        <mat-label></mat-label>
        <input (keyup.enter)="Enviar()" [(ngModel)]="mensaje.mensaje" type="email" matInput autocomplete="off">
    </mat-form-field>

    <button mat-fab color="primary" (click)="Enviar()">Enviar</button>