html, body {
    height: 100%;
  }
  
  .bgimg {
    display:block;
    width:100%;
    height:100%;
    background: url('../../../assets/background.gif')  center center fixed;
  }

  .animate__backInLeft {
    max-width: 400px;
    background-color: white;

    
  }

  .navColor {

    background-color: white;

  }

  .nav-link{


    background-color: black;
    color: white;
  }
  
  .loginColor {

    width: 200px;
    background-color: black;
    color: white;

    
  }
  

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .help {
    color:white;
  }

