<mat-toolbar class="navColor">

  <button mat-raised-button color="primary" routerLink="../login" class="nav-link">INICIAR SESION</button>


</mat-toolbar>


<div class="bgimg">
  <div class="testclass">

    <br>
    <br>
    <div align=center>
      <mat-card class="example-card" class="animate__animated animate__backInLeft"> 
        <h1>REGISTRO</h1>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Ingrese su correo</mat-label>
            <input (keyup.enter)="Registro()" matInput placeholder="Correo"   [(ngModel)]="unUsuario.correo" [formControl]="correo" required>
            <mat-error *ngIf="correo.invalid">{{getErrorMessageCorreo()}}</mat-error>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Correo</mat-hint>
          </mat-form-field>

          
          
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Ingrese su contraseña</mat-label>
            <input (keyup.enter)="Registro()"  matInput placeholder="Contraseña" type="password"  [(ngModel)]="unUsuario.clave" required>
            <mat-error *ngIf="clave.invalid">{{getErrorMessageClave()}}</mat-error>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Contraseña</mat-hint>
          </mat-form-field>
        </p>


        <button mat-raised-button class="loginColor"   (click)="Registro()">Registrarse</button>

      </mat-card>



      <router-outlet></router-outlet>

    </div>


  </div>
</div>