<mat-toolbar class="navColor">
    <button mat-raised-button (click)="Deslogearse()" class="nav-link">DESLOGUEARSE</button>


    <button mat-raised-button routerLink="../chat" class="nav-link " style="margin: 10px;">CHAT</button>

</mat-toolbar>

<div class="bgimg">
    <br>
    <div class="piedrapapeltijera">

        <app-piedra-papel-tijera></app-piedra-papel-tijera>

    </div>
    <br>
    <div class="bgimg">


        <div class="TaTeTi" align='center'>
            <app-ta-te-ti></app-ta-te-ti>
        </div>

    </div>