.example-card {

    max-width: 600px;
  }
  
  html, body {
    height: 100%;
    
  }
  
  .bgimg {
    display:block;
    width:100%;
    height:100%;
    background: url('../../../assets/background.gif')  center center fixed;
    background-repeat: repeat;
  }

  .navColor {

    background-color: white;

  }

  .nav-link{


    background-color: black;
    color: white;
  }