<mat-card class="example-card ">
  <mat-card-header>
    <mat-card-title>RPS</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="2:1">


    </mat-grid-list>

    <div class="content">
      <mat-card>
        <mat-card-content>
          <div class="content1">
            <h2> You</h2>
            <button mat-fab color="primary" class="score">{{ scores[0] }}</button>
          </div>
          <h3> Choose your weapon: </h3>
          <div class="content2">
            <i (click)="pick(0)" [ngClass]="{'selectedWeapon':(playerSelected === 0)}" class="fa fa-hand-rock-o"></i>
            <i (click)="pick(1)" [ngClass]="{'selectedWeapon':(playerSelected === 1)}" class="fa fa-hand-paper-o"></i>
            <i (click)="pick(2)" [ngClass]="{'selectedWeapon':(playerSelected === 2)}"
              class="fa fa-hand-scissors-o"></i>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="content1">
            <h2> Player 2</h2>
            <button mat-fab color="accent" class="score">{{ scores[1] }}</button>

          </div>
          <br><br>

          <div *ngIf="enemySelected !== -1" class="flex-container flex-center">
            <i *ngIf="enemySelected === 0" class="fa fa-hand-rock-o"></i>
            <i *ngIf="enemySelected === 1" class="fa fa-hand-paper-o"></i>
            <i *ngIf="enemySelected === 2" class="fa fa-hand-scissors-o"></i>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div *ngIf="!loading && isResultShow" class="flex-container flex-center" style="flex-direction: column">
      <div [ngSwitch]="theResult">
        <ng-template [ngSwitchCase]="0">
          <h1> Ganaste! </h1>
        </ng-template>
        <ng-template [ngSwitchCase]="1">
          <h1> Perdiste. </h1>
        </ng-template>
        <ng-template [ngSwitchCase]="2">
          <h1>Es un empate! </h1>
        </ng-template>
        <ng-template ngSwitchDefault> </ng-template>
      </div>
      <p> Seleccione para continuar o </p>
      <button (click)="reset()" mat-raised-button color="primary"> Reiniciar puntajes</button>
    </div>

    <div class="flex-container flex-center" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>



  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>