<body class="bgimg">
<mat-toolbar class="navColor">
  

  
  <button mat-raised-button (click)="Deslogearse()" class="nav-link">DESLOGUEARSE</button>
  <button  mat-raised-button routerLink="../home" class="nav-link " style="margin: 10px;">HOME</button>


</mat-toolbar>



<br>


<mat-card class="example-card ">
  <mat-card-header>
    <mat-card-title>RPS</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="2:1" class="list">


    </mat-grid-list>

    <div class="content">
      <mat-card>
        <mat-card-content>
          <div class="content1">
            <h2> Tu</h2>
            <button mat-fab color="primary" class="score scoreUno">{{ scores[0] }}</button>
          </div>
          <h3> Elije tu jugada: </h3>
          <div class="content2">
            <i (click)="pick(0)" [ngClass]="{'selectedWeapon':(playerSelected === 0)}" class="fa fa-hand-rock-o"></i>
            <i (click)="pick(1)" [ngClass]="{'selectedWeapon':(playerSelected === 1)}" class="fa fa-hand-paper-o"></i>
            <i (click)="pick(2)" [ngClass]="{'selectedWeapon':(playerSelected === 2)}"
              class="fa fa-hand-scissors-o "></i>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="content1">
            <h2> Bot</h2>
            <button mat-fab color="accent" class="score scoreDos">{{ scores[1] }}</button>

          </div>
          <br><br>

          <div *ngIf="enemySelected !== -1" class="flex-container flex-center">
            <i *ngIf="enemySelected === 0" class="fa fa-hand-rock-o botWeapon"></i>
            <i *ngIf="enemySelected === 1" class="fa fa-hand-paper-o botWeapon"></i>
            <i *ngIf="enemySelected === 2" class="fa fa-hand-scissors-o botWeapon"></i>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div *ngIf="!loading && isResultShow" class="flex-container flex-center" style="flex-direction: column">
      <div [ngSwitch]="theResult">
        <ng-template [ngSwitchCase]="0">
          <h1> Ganaste! </h1>
        </ng-template>
        <ng-template [ngSwitchCase]="1">
          <h1> Perdiste. </h1>
        </ng-template>
        <ng-template [ngSwitchCase]="2">
          <h1>Es un empate! </h1>
        </ng-template>
        <ng-template ngSwitchDefault> </ng-template>
      </div>
      <p> Siga jugando para continuar o </p>
      
      <p><button (click)="reset()" mat-raised-button class="scoreUno" style="color: white;"> Reiniciar puntajes</button>
      
      <button type="button" mat-raised-button class="button1" (click)="guardarScore()" class="restart" style="margin: 5px;">Guardar puntaje</button>
    </p>
    </div>




  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

<div>
<app-chat-ppt></app-chat-ppt>
</div>

</body>