p {
    font-family: Lato;
  }
  
  .content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
  }
  .flex-container{
    display:flex;
    width:100%;
  }
  
  .flex-center{
    align-items: center;
    justify-content: center;
  }

  .bgimg {
    display:block;
    width:100%;
    height:100%;
    background: url('../../../assets/background.gif')  center center fixed;
  }

  .navColor {

    background-color: white;

  }

  .nav-link{


    background-color: black;
    color: white;
  }

  
  .content1{
    
    display:grid;
    grid-template-columns: 2fr 1fr;
      
  }
  
  .score{
    margin-top:.5em;
    margin-left:2em;
    font-size:1.5em;

 
  }
  
  .scoreDos{
    background-color: #FF59FE;
 
  }

  .scoreUno{
    background-color: #2B34C4;

  }
 
  .content2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  }
  
  .fa{
    cursor:pointer;
    font-size:5em;
  }
  
  .selectedWeapon{
    color: #2B34C4;
  }


  .botWeapon{
    color: #FF59FE;
  }

  .example-card {
    margin: auto;
    max-width: 450px;
  }
  
  .spinner{
    color: #2B34C4;
  }

  

