<body class="bgimg">

    <mat-toolbar class="navColor">
        <button mat-raised-button (click)="Deslogearse()" class="nav-link">DESLOGUEARSE</button>


        <button mat-raised-button routerLink="../home" class="nav-link " style="margin: 10px;">HOME</button>

        <button mat-raised-button (click)="goEncuesta()" class="nav-link" style="margin: 5px;">Encuesta</button>

    </mat-toolbar>
    <br>

    <mat-card class="example-card ">


        <mat-card-content>

            <mat-grid-list cols="1" rowHeight="1:1">
        
            </mat-grid-list>
              <div>

                
            <div *ngIf="isLoading" align=center>
              <mat-spinner color="accent"></mat-spinner>
            </div>
                <mat-table [dataSource]="dataSource" multiTemplateDataRows *ngIf="!isLoading">
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="puntaje">
                        <mat-header-cell *matHeaderCellDef> Puntaje </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.score}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="fecha">
                        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.fecha}} </mat-cell>
                        <mat-cell *matCellDef="let user"> </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="juego">
                        <mat-header-cell *matHeaderCellDef> Juego </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.juego}} </mat-cell>
                      </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>

       

 
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>


</body>