<mat-toolbar class="navColor">

  <button mat-raised-button color="primary" routerLink="../login" class="nav-link">Iniciar Sesion</button>


</mat-toolbar>


<div class="bgimg">
  <div class="testclass">

    <br>

    <br>
    <div align=center>


      <mat-card class="example-card">
  

        <h1>REGISTRO</h1>

   

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Ingrese su correo</mat-label>
            <input matInput placeholder="Correo">
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Correo</mat-hint>
          </mat-form-field>
        </p>
  
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput placeholder="Contraseña">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Contraseña</mat-hint>
          </mat-form-field>
        </p>
  
  
        <button mat-raised-button class="loginColor">Registrarse</button>
  
  




      </mat-card>



      <router-outlet></router-outlet>

    </div>
    

  </div>
</div>
