<mat-toolbar class="navColor">
  <button mat-raised-button routerLink="../registro" class="nav-link">REGISTRARSE</button>

</mat-toolbar>


<div class="bgimg">
  <div class="testclass">

    <br>
    <div align=center>
      <mat-card class="example-card" class="animate__animated animate__backInLeft">
        <marquee behavior="" direction="right">
          <h1 class="tituloLogin">SALA DE JUEGOS</h1>
    

        </marquee>
        <img src="../assets/favicon.png" height="150" class="animate__animated animate__flip" >
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Ingrese su correo</mat-label>
            <input  (keyup.enter)="Login()" matInput placeholder="Correo" [(ngModel)]="unUsuario.correo"  required>
            <mat-error *ngIf="correo.invalid">{{getErrorMessageCorreo()}}</mat-error>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Correo</mat-hint>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Ingrese su contraseña</mat-label>
            <input (keyup.enter)="Login()" matInput placeholder="Contraseña" type="password" [(ngModel)]="unUsuario.clave" required>
            <mat-error *ngIf="clave.invalid">{{getErrorMessageClave()}}</mat-error>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Contraseña</mat-hint>
          </mat-form-field>
        </p>


        <button mat-raised-button class="loginColor" (click)="Login()"  >INICIAR SESION</button>



      </mat-card>



      <router-outlet></router-outlet>

    </div>


  </div>
</div>