  
  .bgimg {
    display:block;
    width:100%;
    height:100%;
    background: url('../../../assets/background.gif')  center center fixed;
  }

  .animate__backInLeft {
    max-width: 400px;
    background-color: white;

    
  }



  .tituloLogin{

    margin: 0;
    padding: 0;
    font-family:game;
    font-size: xx-large;

  }

  .navColor {

    background-color: white;

  }

  .nav-link{


    background-color: black;
    color: white;
  }
  
  .loginColor {

    width: 200px;
    background-color: black;
    color: white;

    
  }
  

  .loginRapidoColor {

    width: 200px;
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);

    
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .help {
    color:white;
  }

 