<mat-toolbar class="navColor">

    <button mat-raised-button routerLink="../home" class="nav-link" style="margin: 10px;"
        *ngIf="token==null">Login</button>

    <button mat-raised-button (click)="Deslogearse()" class="nav-link" *ngIf="token!=null">DESLOGUEARSE</button>

    <button mat-raised-button routerLink="../home" class="nav-link" style="margin: 10px;"
        *ngIf="token!=null">HOME</button>
</mat-toolbar>




<div class="bgimg">
    <div class="testclass">
        <br>
        <div align='center'>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>¿QUIEN SOY?</mat-card-title>
                    <mat-card-subtitle> Informacion sobre mi
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/resumeProfile.jpg" alt="fotoResume">
                <mat-card-content>
                    <p>
                        <b>Mi nombre es: Luciano Sinisterra</b> <br>
                        Soy estudiante de la UTN FRA, en este trabajo podras ver mis conocimientos en practica,
                        principalmente sobre angular y typescript.
                        En la home encontras al menos 3 juegos clasicos que son TaTeTi, Piedra Papel o Tijera y Memotest
                        <a href="https://github.com/attrix182/salaDeJuegosLAB4"> REPOSITORIO GITHUB</a>

                        {{this.token}}
                    </p>
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>

        </div>





    </div>