<mat-toolbar class="navColor">
    <button mat-raised-button (click)="Deslogearse()" class="nav-link">DESLOGUEARSE</button>


    <button  mat-raised-button routerLink="../home" class="nav-link " style="margin: 10px;">HOME</button>


</mat-toolbar>



<div class="bgimg">

<br>

 

        <mat-card class="example-card " >
            <mat-card-header>
                <mat-card-title>TA TE TI</mat-card-title>
                <mat-card-subtitle>Tres en raya</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
               
                    <table style="width:500px;height:500px;text-align: center" align="center">
                        <tr>
                            <td id="cell11" class="cell"></td>
                            <td id="cell12" class="cell"></td>
                            <td id="cell13" class="cell"></td>
                        </tr>
                        <tr>
                            <td id="cell21" class="cell"></td>
                            <td id="cell22" class="cell"></td>
                            <td id="cell23" class="cell"></td>
                        </tr>
                        <tr>
                            <td id="cell31" class="cell"></td>
                            <td id="cell32" class="cell"></td>
                            <td id="cell33" class="cell"></td>
                        </tr>
                    </table>

                    <h2 class="game--status"></h2>
                    <button    class="button1" id="reset" type="button" value="RESET" class="mat-raised-button game--restart">Restart Game</button>
            



                

            </mat-card-content>
            <mat-card-actions>   
            </mat-card-actions>
        </mat-card>





        
 

            
        
          
       

</div>