<body class="bgimg">
    <mat-toolbar class="navColor">
      
    
      
      <button mat-raised-button (click)="Deslogearse()" class="nav-link">DESLOGUEARSE</button>
      <button  mat-raised-button routerLink="../home" class="nav-link " style="margin: 10px;">HOME</button>
    
    
    </mat-toolbar>
    
    
    
    <br>
    
    
    <mat-card class="example-card ">
      <mat-card-header>
        <mat-card-title>Rompecabezas</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-content>
    
        <mat-grid-list cols="2" rowHeight="2:1" class="list">
    
    
        </mat-grid-list>
    
        <div class="content">
          <mat-card>
            <mat-card-content>
              <div class="content1">
                <h2> Tu</h2>
               
              </div>
        
    
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
    
              <br><br>
    
    
            </mat-card-content>
          </mat-card>
    
        </div>
        
          <p> Siga jugando para continuar o </p>
          
     
          
          <button type="button" mat-raised-button class="button1"  class="restart" style="margin: 5px;">Guardar puntaje</button>


    
    
    
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    
    <div>
<app-chat-mijuego></app-chat-mijuego>
    </div>
    
    </body>